<!-- app/views/sessions/new.html.erb -->


<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "box" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<h2>ログイン</h2>
  <div class="box-inner">
    <div class="box-email">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "box-email-input" %>
    </div>

    <div class="box-password">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "box-password-input" %>
    </div>

    <div class="box-login">
      <%= f.submit "ログイン", class: "box-login-btn" %>
    </div>
    <%= render "devise/shared/links" %>

  </div>
<% end %>

